$AC-Red: #7d0f4b;
$AC-Blue: #074761;
$AC-Green: #36735c;
$AC-Yellow: #d08f4c;
$dunkelgrau: #959595;

$primary: $AC-Blue !default;
$primary-light: lighten($primary, 75%) !default;
$secondary: $AC-Yellow !default;
$success: #3772FF !default;
$info: lighten($AC-Blue, 50%) !default;
$warning: $AC-Red !default;
$danger: $AC-Red !default;
$white: #fff !default;
$light: lighten($AC-Blue, 75%) !default;

$dark: #403F4C !default;
$blue: #72A1E5 !default;
$orange: #BA5A31 !default;

$link-color: lighten($AC-Blue, 25%) !default

$td-enable-google-fonts: false;

@font-face {
  font-family: "TTFirsNeue-Medium";
  src: url('../fonts/TTFirsNeue-Medium/font.woff2') format('woff2'), url('../fonts/TTFirsNeue-Medium/font.woff') format('woff');
}
@font-face {
  font-family: "TTFirsNeue-Light";
  src: url('../fonts/TTFirsNeue-Light/font.woff2') format('woff2'), url('../fonts/TTFirsNeue-Light/font.woff') format('woff');
}

$td-fonts-serif: "TTFirsNeue-Light", sans-serif;
$font-family-sans-serif: $td-fonts-serif !default;